<template>
<div>
    <button style="background: transparent; color:#fff;" class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span v-if="selectedSite && !loading">{{ selectedSite.name }}</span>
        <i v-if="loading" class="fas fa-spinner fa-spin"></i>
    </button>
    <div class="dropdown-menu">
        <a v-for="site in sites" class="dropdown-item" href="#" @click="setSelectedSite(site)">{{ site.name }}</a>
    </div>
    </div>
</div>
</template>

<script>

    export default {
        created() {
            this.getSites();
            this.getDefaultSiteId();

            this.setDefaultSite();
        },
        data(){
            return {
                sites:[],
                selectedSite: {
                    name:'',
                    
                },
                loading: false,
                defaultSiteId: null,
            }
        },
        methods: {

           getDefaultSiteId(){

                this.loading = true;

                var vm = this;

                vm.$emit('loading', this.loading);
                axios.get( baseUrl + '/users/current/settings/default_site_id', { headers:  { 'X-CSRF-TOKEN': '{!! csrf_token() !!}', }})
                .then( function(response){
                    vm.loading = false;
                    vm.defaultSiteId = response.data;
                    return response.data;
                }).catch(error => {
                    if (error ) {
                    console.log(error);
                    } 
                });
            },

            getSites: function() {

                this.loading = true;
                var vm = this;
                vm.$emit('loading', this.loading);
                axios.get( baseUrl + '/json/sites', { headers:  { 'X-CSRF-TOKEN': '{!! csrf_token() !!}', }})
                .then( function(response){
                    
                
                    vm.sites = response.data;

                    vm.sites.forEach( site => {
                        if(site.id == vm.defaultSiteId){
                            vm.setSelectedSite(site);
                        }
                    });

                    if(!vm.defaultSiteId){
                        vm.setSelectedSite(vm.sites[0]);
                    }
                    vm.loading = false;
                    vm.$emit('loading', vm.loading);
                }).catch(error => {
                    if (error ) {
                    console.log(error);
                    } 
                });
            },

            setDefaultSite(){

                var vm = this;
                this.sites.forEach(site => {
                    if(site.id == vm.defaultSiteId){
                        vm.setSelectedSite(site);
                    }
                });
            },

            setSelectedSite(site){

                this.selectedSite = site;
                this.$emit('site-set', site);
            }
        }
    }
</script>
