<template>
<div>
   <div class="row">
     <div class="col-sm-8">
       <div class="form-group">
         <input class="form-control" type="text" v-model="endpointset.name" >
       </div>
     </div>
     <div class="col-sm-4">
         <a class="btn float-right bn-sm btn-primary" data-toggle="collapse" v-bind:href="'#collapse_' + endpointset.id" role="button" aria-expanded="false" aria-controls="collapseExample">
    Endpoints
  </a>
     </div>
   </div>
  <div class="collapse" v-bind:id="'collapse_' + endpointset.id">


    <div v-for="endpoint in this.endpointset.end_points" style="margin-bottom:15px;" class="card border-primary">

      <div class="card-body">

      <div style="margin-bottom:25px;" class="row">
        <div class="col-sm-12">
          <i class="fas fa-long-arrow-alt-right"></i> <i class="fas fa-globe-americas"></i> Endpoint
        </div>
      </div>


     <div class="form-group row">
       
             <label class="col-sm-2 col-form-label float-right"><span class="float-right">Name</span></label>
      <div class="col-sm-8">
<div class="form-group">
  <input type="text" v-model="endpoint.name" class="form-control" id="basic-url" aria-describedby="basic-addon3">
  <label>{{ baseUrl + '/inbound/' + slugify(endpointset.name) + '/' + slugify(endpoint.name) }}</label>
</div>
       
      </div>
     </div>

     <div class="form-group row">
       
             <label class="col-sm-2 col-form-label float-right"><span class="float-right">POST</span></label>
      <div class="col-sm-8">
            <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon3">URL</span>
            </div>
            <input type="text" v-model="endpoint.url" class="form-control" id="basic-url" aria-describedby="basic-addon3">
          </div> 
       
      </div>
     </div>

     <div class="form-group row">
             <label class="col-sm-2 col-form-label"><span class="float-right">Headers</span></label>
      <div class="col-sm-8">
        <div v-for="header in endpoint.headers">

          <div class="form-row">

          <div class="col">
            <div class="form-group ">
            <input type="text" placeholder="key" class="form-control" v-model="header.key">
            </div>
            
          </div>
          <div class="col">
            <div class="form-group">
            <input placeholder="value" type="text"class="form-control" v-model="header.value">
            </div>
          </div>

          <div class="col">
            <div class="btn-group" role="group" aria-label="Basic example">
            <button  @click="removeHeader(header, endpoint)" class="btn btn-sm btn-secondary"> <i class="fas fa-ban"></i> </button>
            
            </div>
          </div>
          </div>
        </div>
        <button @click="addHeader(endpoint.headers)" class=" btn btn-sm btn-primary"><i class="fas fa-plus"></i></button>
        
      </div>

     </div>
     <div class="row">
       <div class="col-sm-12">
         <div class="btn-group button-group-sm float-right" role="group" aria-label="Basic example">
          <button @click="saveEndpoint(endpoint, endpointset)" class="btn btn-small btn-primary">
            <i class="far fa-save"></i>
            <!-- <i v-if="saveSpin" class="fas fa-spinner fa-spin"></i> -->
             Save</button>
          <button type="button" class="btn btn-secondary"><i class="fas fa-ban"></i>

Remove</button>
      </div>
         <!-- <button class="btn btn-small btn-primary"><i class="fas fa-spinner fa-spin"></i></button> -->
       </div>
     </div>
      </div>
   </div>
   
   
   
   
   <div class="row">
     <div class="col-sm-4"></div>
     <div class="col-sm-4">
       
   
     </div>
     <div class="col-sm-4">

       <div class="btn-group btn-group-sm float-right" role="group" aria-label="Basic example">
        <button @click="addEndpoint(endpointset.end_points)" class="btn btn-primary">Add end point</button>
        <!-- <button type="button" @click="saveEndpoint(endpointset)" class="btn btn-secondary">Save</button> -->
      </div>
     </div>
   </div>
  </div>
</div>
</template>
<script>
export default {
  props: {
    endpointset: {
      type: Object,
      required: false
    },

  },

  computed: {
    baseUrl: function(){
      var getUrl = window.location;
      var baseUrl = getUrl .protocol + "//" + getUrl.host + "/" + getUrl.pathname.split('/')[1];
      return baseUrl;
    }
  },
  
  methods: {

    slugify: function (text) {
      return text.toString().toLowerCase()
        .replace(/\s+/g, '-')           // Replace spaces with -
        .replace(/[^\w\-]+/g, '')       // Remove all non-word chars
        .replace(/\-\-+/g, '-')         // Replace multiple - with single -
        .replace(/^-+/, '')             // Trim - from start of text
        .replace(/-+$/, '');            // Trim - from end of text
      },

    addEndpoint(end_points) {
      end_points.push({
        name: "",
        url: "",
        headers: []
      });
    },

    addHeader(headers) {
      console.log(headers);
      headers.push({key:'', value:''});
    },

    removeHeader(header, endpoint) {
      var headers = endpoint.headers;
      var vm = this;
      if(! header.key == '' || ! header.value == '')
      {
        swal({
          confirmButtonText:'Confirm',
          cancelButtonText:'Cancel',
          titleText:'Remove this header?',
          type:'question'
        }).then(function(){ 

        var index = headers.indexOf(header);
        if (index > -1) {
          headers.splice(index, 1);
          vm.saveEndpoint(endpoint);
        }
      swal({
        type:'success',
        titleText:'Header Removed',
        toast:true,
        position:'top-end',
        showConfirmButton: false
      });
  
        });
      } else 
      {
                var index = headers.indexOf(header);
        if (index > -1) {
          headers.splice(index, 1);
        }
      }
    },
 
    saveEndpoint(endpoint, endpointset){

      if(endpoint.id)
      {
        this.updateEndpoint(endpoint);
      } else {
      var vm = this;
          swal({
            type:'info',
            titleText:'Saving endpoint...',
            toast:true,
            position:'top-end',
            showConfirmButton: false,
          });

  axios.post('/endpoint/' + endpointset.id, endpoint, 
          { headers: 
          { 'X-CSRF-TOKEN': token, }
      }).then( function( response ){
        endpoint = response.data;

          swal({
            type:'success',
            titleText:'End Point Saved',
            toast:true,
            timer: 3000,
            position:'top-end',
            showConfirmButton: false
          });

  }).catch(error => {
      if ( error ) {

        console.log(error);
          swal({
            type:'error',
            titleText:'Uh oh',
            toast:true,
            position:'top-end',
            showConfirmButton: false,
            text: error
          });
      } 
      }); 

      }
        },

    updateEndpoint(endpoint)
    {
      var vm = this;
                  swal({
                    type:'info',
                    titleText:'Saving endpoint...',
                    toast:true,
                    position:'top-end',
                    showConfirmButton: false,
                  });

          axios.post('/endpoint/update', endpoint, 
                  { headers: 
                  { 'X-CSRF-TOKEN': token, }
              }).then( function( response ){
                endpoint = response.data;

                  swal({
                    type:'success',
                    titleText:'End Point Saved',
                    toast:true,
                    position:'top-end',
                    timer: 3000,
                    showConfirmButton: false
                  });

          }).catch(error => {
              if ( error ) {

                console.log(error);
          swal({
            type:'error',
            titleText:'Uh oh',
            toast:true,
            position:'top-end',
            showConfirmButton: false,
            text: error
          });
              } 
              }); 

        }
  }
};
</script>
