<template>
<div>
    <ul>
        <li v-for="link in links">
            <a v-bind:href="link.href" >{{ link.title }}</a></li>
    </ul>

</div>
</template>

<script>
    export default {
        mounted() {
        },
        data(){
            return {
                links: [
                    {
                        href:'#',
                        title:'Link 1',
                    },
                                        {
                        href:'#',
                        title:'Link 1',
                    },
                                        {
                        href:'#',
                        title:'Link 1',
                    },
                                        {
                        href:'#',
                        title:'Link 1',
                    },
                ]
            }
        },
        methods: {

        }
    }
</script>
