<template>
<div>
  <!-- <pre>@{{ endpoint }}</pre> -->

  <div class="row" style="margin-bottom:15px;">
    <div class="col-6">
      <label><strong><i class="fas fa-globe-americas"></i> End Point Details</strong></label>
    </div>
    <div class="col-6">
<div class="float-right">

                   <el-switch
  v-model="enabled"
  active-text="Enabled"
  inactive-text="Disabled">
</el-switch>
</div>
    </div>
  </div>

<div class="row">
  <div class="col-12">
    <el-collapse accordian  v-if="endpoint.campaigns && endpoint.campaigns.length > 0">
  <el-collapse-item  name="endpoint1">
      <template slot="title">
      <span class="badge badge-warning"><strong>Warning!</strong></span> Editing this endpoint will affect {{ endpoint.campaigns.length }} routes:
    </template>
    <div v-for="campaign in endpoint.campaigns" :key="campaign.name">{{ campaign.name }}</div>
  </el-collapse-item>
</el-collapse>
  </div>
</div>
  
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">

<!-- NAME -->
  <div class="row">
    <div class="col-12">
      <div class="form-group">
            <label>Name</label>
            <input type="text" v-on:keyup.13="save()" class="form-control" v-model="endpoint.name">
      </div>
    </div>
  </div>

  <!-- URL -->
  <div class="row">
    <div class="col-12">
      <div class="form-group">
            <label>URL or Email</label>
            <input type="text" v-on:keyup.13="save()" class="form-control" v-model="endpoint.url">
      </div>
    </div>
  </div>

  <!-- TOKEN -->
  <div class="row">
    <div class="col-12">
      <div class="form-group">
            <label>Token</label>
            <input type="text" v-on:keyup.13="save()" class="form-control" v-model="endpoint.token">
      </div>
    </div>
  </div>
        </div>
      </div>
    </div>
  </div>
  
<hr>
  <!-- HEADERS -->
  <div class="row">
    <div class="col-12">
      
      <label><strong><i class="fas fa-code"></i> Headers</strong></label>

      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-5">
              <label><small>Key</small></label>
            </div>
            <div class="col-5">
              <label><small>Value</small></label>
            </div>
          </div>


          <div v-if="endpoint.headers && endpoint.headers.length > 0" class="row" v-for="(header, index) in endpoint.headers"  style="margin-bottom:10px;">
            <div class="col-5">
              <input v-on:keyup.13="save()" class="form-control" v-model="header.key">
            </div>
            <div class="col-5">
              <input v-on:keyup.13="save()" class="form-control" v-model="header.value">
            </div>

            <div class="col-2">
              <div class="btn-group" v-if="endpoint.headers && endpoint.headers.length == index + 1">
                <button class="btn btn-sm btn-secondary" v-on:keyup.9="addHeader()" @click="removeItemFromArray(header, endpoint.headers)" ><i class="fas fa-times"></i></button>
                <button v-if="endpoint.headers && endpoint.headers.length == index + 1" @click="addHeader()" class="btn btn-sm btn-secondary"><i class="fas fa-plus-circle"></i></button>
              </div>
                <button v-else v-on:keyup.9="addHeader()" @click="removeItemFromArray(header, endpoint.headers)" class="btn btn-sm btn-secondary"><i class="fas fa-times"></i></button>
            </div>
          </div>

          <div v-if="endpoint.headers && endpoint.headers.length == 0" class="text-center row">
            <div class="col-12">
              <button class="btn btn-sm btn-secondary" @click="endpoint.headers.push({key:'', value:''})">Add Header</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<hr>
  <!-- FIELDS -->
  <div class="row">
    <div class="col-12">
      <label><strong><i class="fas fa-filter"></i> Field Filters</strong></label>
      <p><small>This will limit the requests sent to <em>only</em> the fields below.</small></p>

      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-12">

            </div>
          </div>

          <div class="row" style="margin-bottom:10px;" v-for="(field, index) in endpoint.filtered_fields" :key="index">
            <div class="col-10">
              <select class="form-control" v-model="endpoint.filtered_fields[index]">
                <option v-for="(standardfield, index) in fieldlist" v-bind:selected="standardfield == field" v-bind:value="standardfield">{{ standardfield }}</option>
              </select>
            </div>

            <div class="col-2">
              <div class="btn-group" v-if="endpoint.filtered_fields && endpoint.filtered_fields.length == index + 1">
              <button class="btn btn-sm btn-secondary" @click="removeItemFromArray(field, endpoint.filtered_fields)" ><i class="fas fa-times"></i></button>
              <button v-if="endpoint.filtered_fields && endpoint.filtered_fields.length == index + 1" @click="addField()" class="btn btn-sm btn-secondary"><i class="fas fa-plus-circle"></i></button>
              </div>
              <button v-else  @click="removeItemFromArray(field, endpoint.filtered_fields)" class="btn btn-sm btn-secondary"><i class="fas fa-times"></i></button>
              </div>
          
          </div>

          <div v-if=" !endpoint.filtered_fields || endpoint.filtered_fields.length == 0" class="text-center row">
            <div class="col-12">
              <button class="btn btn-sm btn-secondary" @click="addField()" >Add Field Filter</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>





<hr>


  <!-- MAPPERS -->
  <div class="row">
    <div class="col-3">
      <label><strong>Map Fields</strong></label>
    </div>
    <div class="col-9">
<div class="float-right">
                <el-switch
              :active-value="1"
              inactive-value="0"
              v-on:change="endpoint.field_map_template = $event"
              v-bind:value="endpoint.field_map_template"
              active-text="Template"
              inactive-text="Default">
            </el-switch>
</div>
    </div>
  </div>

  <div class="row">

    <div class="col-12">
      <div class="card">
        <div class="card-body">

          <div v-if="endpoint.field_map_template == 0">
            <fieldmap-form 
              v-for="(fieldMap, index) in endpoint.field_maps"
              :fieldmap="fieldMap"
              :key="fieldMap"
              v-on:add-new-field-map="endpoint.field_maps.push({target:'first_name', output:'' })"
              v-bind:showplus="endpoint.field_maps.length == index + 1"
              v-on:field-map-removed="removeItemFromArray(fieldMap, endpoint.field_maps)"
            ></fieldmap-form>
            <div v-if="endpoint.field_maps && endpoint.field_maps.length == 0" class="text-center">
              <button class="text-center btn btn-sm btn-secondary" @click="endpoint.field_maps.push({target:'first_name', output:'' })" >Add Field Map</button>
            </div>
          </div>

            <!-- If field map template -->
          <fieldmap-template-selector v-if="endpoint.field_map_template == 1" v-on:change-template-map="endpoint.field_map_set = $event; endpoint.field_map_set_id = $event.id;" :currenttemplate="endpoint.field_map_set"></fieldmap-template-selector>
          

        </div>

      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-12">
      <button style="margin:10px;" class="btn btn-primary" @click="save()">
<i v-if="loading" class="fas fa-spinner fa-spin"></i>
  <span v-if="!loading">Save</span>
      </button>
    </div>
    </div> 
  </div>
</template>
<script>

export default {

  props: {
    endpoint: {
      type: Object,
      required: true
    },

    fieldlist:{
      type: Array,
      required: true
    }, 
  },

  data(){
      return {

          loading:false,
          template: true,
          enabled: false,
          fieldMap: '',

      }
  },

  created() {

  },

  computed: {

   affectedSites: function(){
     var affectedSites = [];
     this.endpoint.campaigns.forEach(campaign  => {
       affectedSites.push(campaign.name + '<br/>');

     });

     return affectedSites;
   },

   showFields(){

   }


  },

  mounted(){
    $(this.endpoint.id + '_routespan').tooltip({trigger:'hover'});
  },
  
  methods: {

    addField(){

      if(!this.endpoint.filtered_fields){
        this.endpoint.filtered_fields = [];
      }
     this.endpoint.filtered_fields.push(this.fieldlist[0]);
    },

    addHeader(){
      if(!this.endpoint.headers){
        this.endpoint.headers = [];
      }
     this.endpoint.headers.push({ key: '', value: '' });
    },

    removeItemFromArray(item, array){

      var index = array.indexOf(item);
      if (index > -1) {
        array.splice(index, 1);
      }
    },

    save(){
    var vm = this;

    vm.loading = true;
    vm.endpoint.active = vm.enabled;

    axios.post( baseUrl + '/json/endpoints/sync', vm.endpoint, { headers:  { 'X-CSRF-TOKEN': '{!! csrf_token() !!}', }})
        .then( function(response){
          vm.loading = false;
            vm.endpoint = response.data;
            vm.$emit('save-endpoint', vm.endpoint);
            swal({
              type:'success',
              titleText:'Saved!',
              toast:true,
              position:'top-end',
              showConfirmButton: false,
              timer: 3000
            });
    }).catch(error => {
        if (error ) {
            console.log(error);
        } 
        });
    }

  },
}

</script>