<template>
<div>
    <select @change="select()" v-model="endpoint" class="form-control">
        <option 
        v-for="(endpoint, index) in endpoints"
        :key="endpoint.id"
        v-bind:value="endpoint">{{ endpoint.name }}</option>
    </select>
    </div>
</template>


<script>
export default {
    data(){
        return {
            endpoints: [],
            endpoint: '',
        }
    },
    props: {
        campaign: {
            type: Object,
            required: false,
        }
    },
  mounted(){
      this.getEndPoints();
      
  },

  computed: {
      endpoints: function(){
          if(this.campaign){

          }
      }
  },    
  
  methods: {

      select(){
        this.$emit('endpoint-selected', this.endpoint);
      },

    getEndPoints(){
        var vm = this;
        axios.get( baseUrl + '/json/endpoints', { headers:  { 'X-CSRF-TOKEN': '{!! csrf_token() !!}', }})
            .then( function(response){
                vm.endpoints = response.data;

                }).catch(error => {
                    if (error ) {
                        vm.loading = false;
                        console.log(error);
                    } 
            });
    },
  }
};
</script>