<template>
<div>
    <!-- Loader shows if the end point is checking if succssful -->
    <i v-if="loading" class="fas fa-spinner fa-spin"></i>
    <div  v-if="!loading">
        <div class="row text-small">
            <div class="col-8">
                <ul class="list-unstyled">
                    <li>{{ endpoint.name }}</li>
                    <li v-if="success"><span class="badge badge-primary"><i class="fas fa-check"></i> Success</span></li>
                    <li v-if="!success"><span class="badge badge-warning"><i class="far fa-times-circle"></i> Failed</span></li>
                </ul>
            </div>
            <div class="col-4">
                <button class="btn float-right btn-block btn-sm btn-secondary" @click="refireResponse(responserecord)"><i class="fas fa-sync-alt"></i></button>
            </div>

        </div>
    </div>
</div>
</template>
<script>

export default {
  props: ['responserecordid'],

  data(){
      return {
          endpoint: {
              name:'',
              
          },

        responserecord:{
            name:'',
          },

          loading: false
      }
  },

  created() {

  },

  computed: {
      success(){
          if( this.responserecord.response_code < 400 )
          {
              return true;
          }
      }
  },

  mounted(){

      this.getResponseRecord();
      var vm = this;
      window.setInterval(function(){
          //vm.autoUpdate();
}, 5000);

  },
  
  methods: {

      getEndPoint()
      {
        var vm = this;
        vm.loading = true;
        axios.get( baseUrl + '/json/endpoints/' + this.responserecord.end_point_id, { headers:  { 'X-CSRF-TOKEN': '{!! csrf_token() !!}', }})
        .then( function(response){
                vm.endpoint = response.data;
                vm.loading = false;
            }).catch(error => {
                if (error ) {
                    vm.loading = false;
                    console.log(error);
                } 
        });
      },

    getResponseRecord( showLoading = true )
    {
        var vm = this;
        if(showLoading)
        {
            vm.loading = true;
        }
        
        axios.get( baseUrl + '/json/responserecords/' + this.responserecordid, { headers:  { 'X-CSRF-TOKEN': '{!! csrf_token() !!}', }})
        .then( function(response){
                vm.responserecord = response.data;
                vm.$emit('set-response', response.data);
                vm.endpoint = vm.getEndPoint();
                vm.loading = false;
            }).catch(error => {
                if (error ) {
                    vm.loading = false;
                    console.log(error);
                } 
        });
    },

    autoUpdate(){
        this.getResponseRecord(false);
    },

    
    refireAllResponses(){

    
      },

      refireResponse(responserecord){
        var vm = this;
        vm.loading = true;
        axios.post( baseUrl + '/json/responserecords/refire/' + this.responserecord.id, { headers:  { 'X-CSRF-TOKEN': '{!! csrf_token() !!}', }})
        .then( function(response){
                vm.responserecord = response.data;
                vm.loading = false;
                console.log(responserecord);
                return responserecord;
            }).catch(error => {
                if (error ) {
                    vm.loading = false;
                    console.log(error);
                } 
        });
      }

  },
}

</script>