<template>
<div>
              <select @change="select()" v-model="outputfield" class="form-control">
                    <option 
                    v-for="(standardfield, index) in fieldlist"
                    v-bind:selected="selectedfield == standardfield"
                    v-bind:value="standardfield">{{ standardfield }}</option>
              </select>

</div>
</template>


<script>
export default {
    data(){
        return {
            fieldlist: [],
            outputfield: this.selectedfield
        }
    },

    props: ['selectedfield'],
  mounted(){
      this.getFieldList();
      
  },

  computed: {

  },
  
  methods: {

      select(){
        this.$emit('select', this.outputfield);
      },

    getFieldList(){
        var vm = this;
        axios.get( baseUrl + '/settings/fields', { headers:  { 'X-CSRF-TOKEN': '{!! csrf_token() !!}', }})
            .then( function(response){
                vm.fieldlist = response.data;

                }).catch(error => {
                    if (error ) {
                        vm.loading = false;
                        console.log(error);
                    } 
            });
    },
  }
};
</script>