<template>
<div class="row" style="margin-bottom:10px;">
    <div class="col-5">

         <field-selector v-if="!readonly" v-bind:selectedfield="fieldmap.target" v-on:select="fieldmap.target = $event"></field-selector>
         <span v-if="readonly"> {{ fieldmap.target }}</span>   
    </div>
  


    <div class="col-5">

    <input  v-if="!readonly" class="form-control" v-model="fieldmap.output">
    <span v-if="readonly">{{ fieldmap.output }}</span>
    </div>
    

    <div class="col-2">
        <div v-if="!readonly" class="btn-group">
            <button class="btn btn-sm btn-secondary" @click="deleteFieldMap(fieldmap)"><i class="fas fa-times"></i></button>
            <button v-if="showplus" class="btn btn-sm btn-secondary" @click="$emit('add-new-field-map')"><i class="fas fa-plus-circle"></i></button>
        </div>
    </div>
</div>
</template>


<script>
export default {
    data(){
        return {
            loading: true
        }
    },


  props: {
    fieldmap: {
      type: Object,
      required: true
    },

    showplus: {
        type: Boolean,
        required: false,
        default: false
    },
    readonly: {
        type: Boolean,
        required: false,
        default: false
    }
  },

  mounted(){


  },

  computed: {
      
  },
  
  methods: {

      deleteFieldMap(fieldmap){
        
        this.$emit('field-map-removed', fieldmap);

      }
  }
};
</script>