<template>
<div>

    <div v-if="!newFieldMaps || newFieldMaps.length == 0" class="text-center row">
        <div class="col-12">
              <button class="btn btn-sm btn-secondary" @click="newFieldMaps.push({ output:'yo face' })" >Add Field Map</button>
            </div>
    </div>

    <fieldmap-form
        ref="fieldMapForm" 
        v-if="newFieldMaps.length > 0"

        v-for="(fieldmap, index) in newFieldMaps"
        :key="fieldmap"
        :fieldmap="fieldmap"
        :readonly="readonly"
        v-bind:showplus="newFieldMaps.length == index + 1"
        v-on:add-new-field-map="addNewFieldMap()"
        v-on:field-map-removed="removeItemFromArray(fieldmap, newFieldMaps)"
        :count="index"
        ></fieldmap-form>
</div>
</template>


<script>
export default {
    data(){
        return {
          newFieldMaps: [],
        }
    },


  props: {
    fieldmaps: {
      type: Array,
      required: false
    },
        readonly: {
        type: Boolean,
        required: false,
        default: false
    }
  },

  mounted(){

     if(this.fieldmaps){
         this.newFieldMaps = this.fieldmaps;
     }
  },

  computed: {

  },
  
  methods: {


      addNewFieldMap(){
          this.newFieldMaps.push({
              output: '',

          });
        this.$emit('add-new-field-map', this.newFieldMaps);
      },

    removeItemFromArray(item, array){

      var index = array.indexOf(item);
      if (index > -1) {
        array.splice(index, 1);
      }
    },

  }
};
</script>