<template>
<div>

<div class="row">
    <div class="col-8">
        <div class="row">
    <div class="col-12">
        <div class="form-group">
            <label><strong>Name</strong></label>
            <input type="text" class="form-control" v-model="fieldmaptemplate.name">
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-12">
        <label><strong>Field Maps</strong></label>
        <fieldmap-form
       v-model="endpoints"
        v-if="fieldmaptemplate.field_maps.length > 0"
        v-for="(fieldmap, index) in fieldmaptemplate.field_maps"
        :fieldmap="fieldmap"
        v-on:add-new-field-map="addFieldMap()"
        v-on:field-map-removed="removeFieldMap($event)"
        :showplus="fieldmaptemplate.field_maps.length == index + 1"
        :key="fieldmap.target"></fieldmap-form>
    </div>
</div>
    </div>
    <div class="col-4">
        <label><strong>Endpoints</strong></label>
        <el-switch v-model="value1">
</el-switch>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <button class="btn btn-primary float-right" @click="saveFieldMapTemplate()">Save</button>
    </div>
</div>
</div>
</template>


<script>
export default {
    data(){
        return {
          endpoints: [],
        }
    },

  props: {
    fieldmaptemplate: {
        type: Object,
        required: true
    },
  },

  mounted(){

  },

  created(){
      if(! this.fieldmaptemplate.field_maps) {
          this.fieldmaptemplate.field_maps = [];
      }
      this.getEndPoints();
  },

  computed: {

  },
  
  methods: {

    addFieldMap(){
    
        this.fieldmaptemplate.field_maps.push({
            target:'first_name',
            output:'',
        });
    },

    removeFieldMap($event){
        this.removeItemFromArray($event, this.fieldmaptemplate.field_maps);
        
            var vm = this;
            axios.post( baseUrl + '/json/fieldmaps/delete/' + $event.id,  { headers:  { 'X-CSRF-TOKEN': '{!! csrf_token() !!}', }})
        .then( function(response){
           
            vm.$emit('field-map-deleted', $event);
            swal({
              type:'success',
              titleText:'Field Map deleted.',
              toast:true,
              position:'top-end',
              showConfirmButton: false,
              timer: 3000
            });
    }).catch(error => {
        if (error ) {
            console.log(error);
        } 
        });

    },

    removeItemFromArray(item, array){

      var index = array.indexOf(item);
      if (index > -1) {
        array.splice(index, 1);
      }
    },

    saveFieldMapTemplate(){
        var vm = this;
            axios.post( baseUrl + '/json/fieldmaptemplates/sync', vm.fieldmaptemplate, { headers:  { 'X-CSRF-TOKEN': '{!! csrf_token() !!}', }})
        .then( function(response){
          vm.loading = false;
            vm.fieldmaptemplate = response.data;
            vm.$emit('save-field-map-template', vm.fieldmaptemplate);
            swal({
              type:'success',
              titleText:'Saved!',
              toast:true,
              position:'top-end',
              showConfirmButton: false,
              timer: 3000
            });
    }).catch(error => {
        if (error ) {
            console.log(error);
        } 
        });
    },
        getEndPoints(){
        var vm = this;
        axios.get( baseUrl + '/json/endpoints', { headers:  { 'X-CSRF-TOKEN': '{!! csrf_token() !!}', }})
            .then( function(response){
                vm.endpoints = response.data;

                }).catch(error => {
                    if (error ) {
                        vm.loading = false;
                        console.log(error);
                    } 
            });
    },

  }
};
</script>