<template>
<div style="margin-bottom:10px;">

    <select class="form-control" v-on:change="$emit('change-template-map', selectedTemplate )" v-model="selectedTemplate">
        <option v-for="(template, index) in fieldMapTemplates" v-bind:value="template">{{ template.name }}</option>
    </select>
    <div style="margin: 10px;"><fieldmap-set readonly v-if="selectedTemplate.field_maps" :fieldmaps="selectedTemplate.field_maps"></fieldmap-set></div>
</div>
</template>


<script>
export default {
    data(){
        return {
            fieldMapTemplates: [],
            selectedTemplate: '',
        }
    },


  props: {
      currenttemplate: {
          type: Object,
          required: false
      }
  },

  mounted(){
      this.getFieldMapTemplates();
      if(this.currenttemplate){

          this.selectedTemplate = this.currenttemplate;
      }
  },

  computed: {

  },
  
  methods: {

      getFieldMapTemplates(){
            var vm = this;
            vm.loading = true;
            axios.get( baseUrl + '/json/fieldmaptemplates/', { headers:  { 'X-CSRF-TOKEN': '{!! csrf_token() !!}', }})
                .then( function(response){
                vm.loading = false;
                vm.fieldMapTemplates = response.data;
                
                if(!vm.currenttemplate){
                    vm.selectedTemplate = vm.fieldMapTemplates[0];
                    vm.$emit('change-template-map', vm.selectedTemplate);
                }
            }).catch(error => {
                if (error ) {
                    console.log(error);
                } 
                });
      }

  }
};
</script>