
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';
//@import '~bootstrap-material-design/scss/bootstrap-material-design.scss';

.navbar-laravel {
  background-color: #2196F3;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.mr-sidebar {
  background-color: #fff;
  color: #333;
  padding: 30px !important;
}

.mr-content {
  padding:30px !important;
}

body {
  background:#efefef;
}
