<template>
    <div style="max-height:800px; z-index:-99999 !important; overflow-x:scroll !important; overflow-wrap: break-word;">
        <!-- Close button -->
        <button class="btn float-right" @click="$emit('remove-preview')" ><i class="fas fa-2x fa-times"></i></button>
            


        <div v-if="lead.response_records.length > 0">
            <hr>
        
        <p><strong>Endpoint Statuses</strong></p>
            
            <ul class="list-group">
                <li class="list-group-item" 
                v-for="responserecord in lead.response_records">

                    <!-- This is the end point status component, it handles the 
                    calls to update the status of the endpoint fail or success.
                    It actually takes a response record, not an endpoint. -->

                    <endpoint-status-list-item
                    :responserecordid="responserecord.id"
                    v-on:set-response="responserecord = null">
                    </endpoint-status-list-item>

                </li>
            </ul>


        <hr>
        </div>

        <!-- Lead meta  -->
        <dl>
            <dt>Campaign</dt>
            <dd>{{ lead.campaign.name }}</dd>
            <dt>Submitted</dt>
            <dd>{{ submitted }}</dd>
        </dl>

        <hr>
        
        <!-- Fields -->
        <p><strong>Field Data</strong></p>

            <dl>
                <div v-for="(index, key) in lead.fields">

                    <dt><small><strong>{{ key }}</strong></small></dt>
                    <dd><small>{{ index }}</small></dd>
                </div>
            </dl>

    </div>
</template>
<script>
import moment from 'moment';
export default {
  props: {
    lead: {
      type: Object,
      required: true
    },

  },

  data(){
      return {
          loading: false,
          fieldStringFilter:'',

      }
  },

  computed: {

      submitted: function(){
          return moment(this.lead.created_at).format("dddd, MMMM Do YYYY, h:mm:ss a");
      },

      hasFailed: function(){
          this.lead.response_records.forEach( record => {
              if(record.response_code > 400){
                  return true;
              }
          });
      },

  },
  
  methods: {

  },

};
</script>

