<template>

             <tr class="clickable-row">

                    <td><input class="form-control" type="checkbox"></td>
                    <td>{{ lead.id }}</td>
                    <td>?</td>
                    <td>{{ lead.processed }}</td>
                    <td>{{ lead.created_at }}</td>
                    <td>{{ lead.campaign.name }}</td>
                    <td><button @click="$emit('preview-lead', lead)"  class="btn btn-sm btn-secondary">Details</button></td>
                </tr>
            </tr> 
</template>
<script>
export default {
  props: {
    lead: {
      type: Object,
      required: true
    },

  },

  computed: {

  },
  
  methods: {


  }
};
</script>
