<template>
<div class="row">
    <div class="col-sm-6">
        <input v-on:keyup="exportLeads()" type="text" v-model="filter.string" class="form-control">
    </div>
    <div class="col-sm-3">
      <input id="date_1" class="form-control"/>
    </div>
    <div class="col-sm-3">
        <input id="date_2" class="form-control"/>
    </div>
</div>
</template>
<script>
export default {
  props: ['leads'],

  data(){
      return {
          filter: {
              string:'',
              date_1:'',
              date_2:''
          }
      }
  },

  mounted(){
        var picker1 = new Pikaday({ field: document.getElementById('date_1') }); 
                var picker1 = new Pikaday({ field: document.getElementById('date_2') }); 
  },

  computed: {

      filteredLeads(){

          var filteredLeads = [];

          if( this.filterActive() )
          {
                this.leads.forEach( lead => {
                    if( this.hasFilterValue(lead) ){
                        console.log('lead has filter value');
                         filteredLeads.push( lead );
                    }
                    
                });

            return filteredLeads;
          } else {
              return this.leads;
          }
      },
  },
  
  methods: {

      filterActive(){
          if( this.filter.string || this.filter.date_1 || this.filter.date_2 ){
              return true;
          }
      },

      hasFilterValue( lead ){
        if(  lead.campaign.name.includes(this.filter.string) ){
            return true;
        }
      },

      fieldHasFilterValue(lead)
      {
          console.log(lead);
          lead.fields.forEach( field => {
            if (Object.values(field).indexOf(this.filter.string) > -1) {
                return true;
            }
          });
      },

      exportLeads(){
              this.$emit('filter-updated', this.filteredLeads);
      }

  }
};
</script>