<template>
<div>

<div class="row">

    <!-- <div class="col-sm-8">
        <h3>Leads <i v-if="leadsSync" class="fas fa-spinner fa-spin"></i></h3>
    </div>
    <div class="col-sm-4">
            <button v-if="totalSelected > 0" @click="resendLeads()" class="btn btn-primary float-right">Re-send Leads</button>
    </div> -->
</div>
<!-- <pre>{{ leads }}</pre> -->
<!-- <tool-bar v-model="filters"></tool-bar> -->

<data-tables-server
    :default-sort = "{prop: 'created_at', order: 'descending'}"
    :loading="loading"
    :data="leads"
    :total="total"
    :action-col="actionCol"
    v-on:query-change="queryChange"
    v-on:select="handleRowSelect"
    :filters="filters"
>

    <el-table-column width="75" type="selection"></el-table-column>

        <el-table-column v-for="title in titles"
            :prop="title.prop"
            :label="title.label"
            :key="title.label">
        </el-table-column>

        
        <!-- Status -->
        <el-table-column
            :label="Channel"
            :key="Channel">
            <template slot-scope="scope">
                <el-tag size="medium">Web</el-tag>
            </template>
        </el-table-column>

        <!-- Status -->
        <el-table-column
            :label="Status">
            <template slot-scope="scope">
                <el-tag size="medium" v-if="scope.row.responses_status == 'unsent'">Unsent</el-tag>
                <el-tag size="medium" type="success" v-if="scope.row.responses_status == 'success'"><i class="fas fa-check"></i> Success</el-tag>
                <el-tag size="medium" type="danger" v-if="scope.row.responses_status == 'failed'"><i class="fas fa-times"></i> Failed</el-tag>
            </template>
        </el-table-column>

        <!-- Date Column -->
        <el-table-column
            sortable
            :prop="customTitles[0].createdAt.prop"
            :label="customTitles[0].createdAt.label"
            :key="customTitles[0].createdAt.label"
            width="180">

            <template slot-scope="scope">
                <i class="el-icon-time"></i> {{ scope.row.created_at }}
            </template>
            </el-table-column>
            

<!-- FILTERS -->
      <el-row type="flex" class="row-bg" slot="tool" width="100%" style="margin: 10px 0">

            <!-- Lead ID filter -->
            <el-col :span="2">
                <div class="grid-content">
                    <label class="text-muted" ><small>Lead ID</small></label>
                    <el-input 
                    placeholder="ID"
                    v-model="filters[0].value"
                    prefix-icon="el-icon-search"
                    clearable></el-input>
                </div>

            </el-col>

            <!-- Date range filter -->
            <el-col :push="1" :span="8">
              <div class="grid-content">
                  <label class="text-muted" ><small>Date range</small></label>
                    <p>
                        <el-date-picker
                    v-model="filters[1]['date_range']"
                    type="daterange"
                    align="right"
                    unlink-panels
                    range-separator="-"
                    start-placeholder="Start date"
                    end-placeholder="End date"
                    v-on:picker="setPickerProps"
                    :picker-options="pickerOptions2">
                    </el-date-picker>
                    </p>
                </div>
            </el-col>

            <!-- Campaign Select -->
            <el-col :span="6" width="100%">
                <label class="text-muted" ><small>Campaign Select</small></label>
                <div class="grid-content" width="100%">
                    <p>
                    <el-select
                        v-bind:loading="campaignLoading"
                        loading-text='Loading campaigns..'
                        v-model="filters[2].value"
                        multiple
                        collapse-tags
                        width="100%"
                        placeholder="Select">

                            <el-option
                            width="100%"
                            v-for="campaign in campaigns"
                            :key="campaign.id"
                            :label="campaign.name"
                            :value="campaign.id">
                            </el-option>
                    </el-select>
                    </p>
                </div>
            </el-col>

            <!-- EndPoint Status -->
            <el-col :span="6" width="100%">
                <label class="text-muted" ><small>Endpoint Status</small></label>
                <div class="grid-content" width="100%">
                    <p>
                    <el-select
                        v-model="filters[3].value"
                        multiple
                        collapse-tags
                        width="100%"
                        placeholder="Select">
                       
                        <el-option
                            width="100%"
                            v-for="status in responseStatuses"
                            :key="status"
                            :label="status"
                            :value="status">
                            </el-option>

                    </el-select>
                    </p>
                </div>
            </el-col>

            <!-- Resend the leads button -->
            <el-col v-if="selected.length > 0" :push="1" :span="5">
                <div class="grid-content">
                    <label></label>
                    <p><el-button @click="resendLeads()" type="primary">Re-fire</el-button></p>
                    </div>
                </el-col>



    </el-row>


</data-tables-server >

      </div>
</template>

<script>

export default {
  props: ['leads', 'total', 'loading'],

  data(){
      return {options: [{
          value: 'Option1',
          label: 'Option1'
        }, {
          value: 'Option2',
          label: 'Option2'
        }, {
          value: 'Option3',
          label: 'Option3'
        }, {
          value: 'Option4',
          label: 'Option4'
        }, {
          value: 'Option5',
          label: 'Option5'
        }],
        value5: [],
        value11: [],

          pickerOptions2: {
          shortcuts: [
              
              {
            text: 'Today',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 );
              picker.$emit('pick', [start, end]);
            }
          },
              
              {
            text: 'Last week',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
              picker.$emit('pick', [start, end]);
            }
          },
           {
            text: 'Last month',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
              picker.$emit('pick', [start, end]);
            }
          }, {
            text: 'Last 3 mo.',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
              picker.$emit('pick', [start, end]);
            }
          }]
        },

          titles: [
              {
                  prop:'site_id',
                  label:'Site ID'
              },
            {
                  prop:'campaign_id',
                  label:'Campaign'
              },
          ],

          customTitles: [
              {
                  createdAt: {
                  prop:'created_at',
                  label:'Date'
                }
              }
          ],

        actionCol: {
            label: 'Actions',
            props: {
            align: 'center',
            },
            buttons: [{
            props: {
                type: 'primary',
                icon: 'fas fa-eye'
            },
            handler: row => {
                this.previewLead(row);
            },
            label: ' Details'
            }]
        },

        filters: [
            {
                value: '',
                prop: 'id'
            },
            {
               

            },
            {
                value:[],
                prop:'campaign_id'
            },
            {
                value:[],
                prop:'responses_status'
            }
            // {
            //     value: '',
            //     prop: 'before_date'
            // },
            // {
            //     value:'',
            //     prop: function(data){
            //         console.log(data);
            //     }
            // },
        ] ,

    responseStatuses: ['unsent', 'failed', 'success'],
    date1: '',
    date2: '',
    campaigns: [],
    selected: [],
    campaignLoading: false,

      }
  },

  mounted(){
      this.getCampaigns();
  },

  computed: {

  },
  
  methods: {

      setPickerProps(event){
          this.filters[1].value = event[1];
          this.filters[2].value = event[2];
      },

      changeDate(event){
          console.log(event);
      },

      previewLead($event){
          this.$emit('preview-lead', $event);
      },

      isBefore(date){
          var dateAsMoment = moment(this.date1);
          console.log(dateAsMoment.isBefore(date));
      },

      queryChange: function($event){

          this.$emit('querychange', $event);
      },

      selectAll: function($event){

      },

      getCampaigns: function(){
          var vm = this;
          vm.campaignLoading = true;
                      axios.get( baseUrl + '/json/campaigns', { headers:  { 'X-CSRF-TOKEN': '{!! csrf_token() !!}', }})
                .then( function(response){
                    vm.campaigns = response.data;
                    vm.campaignLoading = false;

            }).catch(error => {
                if (error ) {
                    console.log(error);
                    vm.campaignLoading = false;
                } 
                });
      },

      handleRowSelect($event){
          this.selected = $event;

      },

      resendLeads(){
          this.$emit('resend-leads', this.selected);
      },

  }
};
</script> 